$font-fam: "Poppins", sans-serif;
%hed-form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
%inp-btn{
    background: #fff;
    font-size: 2rem;
    padding: .5rem;
    border: none;
}


// styling
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg, #e2c35d, #d88771);
    color: #fff;
    font-family: $font-fam;
    min-height: 100vh;
}
header{
    @extend %hed-form;
    font-size: 1.5rem;
    
}
form{
    @extend %hed-form;

    input{
        @extend %inp-btn;
    }
    button{
        @extend %inp-btn;
        color: #d88771;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            background: #d88771;
            color: #fff;
        }
    }
}